/**
 * Content Palette
 *
 **/

$corConhecimento: #ef5350;
$corMacropolitica: #f57f17;
$corTerritorios: #0097a7;
$corComunicacao: #5c6bc0;

$contentPalette: (
	"conhecimento": $corConhecimento,
	"macropolitica": $corMacropolitica,
	"territorios": $corTerritorios,
	"comunicacao": $corComunicacao
);

@each $tag, $color in $contentPalette {

	$attribute: "#" + $tag;

	a[href="#{$attribute}"] {
		color: $color;
	}

	.bg-#{$tag} {
		background-color: $color;
	}
}


/**
 * App
 *
 **/

$corTexto: rgba( 255,255, 255, 1 );
$corDestaque: rgba(255, 255, 255, 1);
$corSecundaria: rgba(120, 120, 120, 1);
$corVerde: #008357;
$corAmarela: #fcd735;
$corFundo: #263238;

$corBolinhas: #fdd835; // Não sei de onde é

/**
 * Translate to Foundation
 *
 **/

$foundation-palette: (
	primary: $corDestaque,
	secondary: $corSecundaria
);
$body-background: $corFundo;
$body-font-color: $corTexto;
$topbar-background: transparent;
$button-background: transparent;
$button-background-hover: transparent;
$button-color: $corTexto;
$reveal-background: 'inherit';