@charset 'utf-8';

@import 'foundation-sites/scss/foundation';
@import 'colors.scss';


@include foundation-everything();


// Preguiçoso

$heads: (h1, h2, h3, h4, h5, h6);

// Ajustes no Foundation
 $button-padding: 0.25em;
 $button-margin: 0;

.reveal {
	z-index: 30 !important;
}


/**
 * Generic
 *
 **/

a {
	color: inherit;
}

a:hover {
	color: $corSecundaria;
}


/**
 * App
 **/

#header {
	z-index: 30;
	position: relative;
	#header-logo {
		> img, svg {
			height: 5em;
		}
		svg {
			width: 7.5em; //nice proportion -- SVG does not stretch
		}
	}
}

#board {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	&, & > * {
		z-index: 0;
	}
	#main-title {
		position: absolute;
		bottom: 0;
		width: 100vw;
		overflow: hidden;
		opacity: 0.25;
		color: $corSecundaria;
		> span {
			display: block;
			font-family: 'Roboto', sans-serif;
			font-weight: 900;
			font-size: calc( 55vh / 3 );
			line-height: calc( 55vh / 3 );
			text-transform: uppercase;
		}
	}
}

#summary-menu-button {
	font-size: 2em;
	margin-top: 0.25em;
}

/**
 * Modal Dialogs
 *
 **/

.modal {
	&.full {
		padding-top: 3rem;
		flex-direction: row;
		font-weight: bold;
		font-size: 1.25rem;
		&.twothirds {
			width: 66vw;
			&.align-right {
				left: auto !important;
				right: 0 !important;
			}
		}
		@each $category, $color in $contentPalette {
			&.modal-#{$category} {
				background-color: $color;
				background-image: url("../media/#{$category}.svg");
				background-repeat: no-repeat;
				background-position: -2vw -12vw;
				background-clip: border-box;
				background-size: 70vw auto;
				border: 1px dotted golden;
			}
			header {
				padding-top: 200px;
				.modal-title {
					font-weight: bold;
					text-align: center;
					text-transform: uppercase;
				}
				.modal-category-title {
					@extend .modal-title;
					color: $corAmarela;
					&:before, &:after {
						content: "•";
						margin: auto 0.4em;
					}
					& + .modal-title:before {
						content: "•";
						color: $corAmarela;
						display: inline-block;
						width: 100%;
						text-align: center;
					}
				}
			}
		}
	}
}


/**
 * Summary Menu
 *
 **/

#summary-menu-container {
	background-color: $corFundo;
}

#summary-menu {
	text-transform: uppercase;
	color: $corDestaque;
	@extend .modal.full;
	> li {

		> ul.menu {
			font-size: 0.75em;
			display: flex;
			flex-direction: column;
		}
	}

	#summary-menu-mdia {
		visibility: hidden;

		> ul {
			font-size: 1em;
			color: $corVerde;
			visibility: visible;
		}
	}
}

#network {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

/**
 * Hacks (Gambiarras, em bom português)
 *
 **/


 // Fix a bizarre dashicons/foundation-icos (actually eot) webpack issue

/* stylelint-enable */
.dashicons,
.dashicons-before:before {
  font-family: dashicons;
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1em;
  height: 1em;
  font-size: 1em;
  vertical-align: top;
  text-align: center;
  transition: color 0.1s ease-in;
}

